<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/aebd705f7a.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    
    <title>ML jon</title>


</head>
<body>
    <header>

        <a>Hola header</a>
    </header>
    <section>
        <a>Hola section</a>
    </section>
    <footer>
        <a>Hola footer</a>
    </footer>
    
            
</body>
</html>