* {
    box-sizing: border-box;
}

header{
    
    background-color: blue;
}
section{

    background-color: burlywood;
}

footer{
    background-color: greenyellow;

}
body{
    font-family: 'Roboto';
}